* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #e9e9e9;
    height: 100vh;
}

/* Inicio cabecalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3572EF;
    color: #fff;
    padding: 10px;
}

a {
    text-decoration: none;
}

header h1 {
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 55px;
    height: 50px;
}

h1, h4 {
    margin: 0;
}

#logo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cinza {
    color: #2d2d2d;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.area-pesquisa {
    width: 60%;
}

.area-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.area-form input {
    width: 80%;
    padding: 0.5em 2.7em;
    line-height: 1.7em;
    font-size: 1em;
    background: #fff url(/imagens/ph--magnifying-glass.png) no-repeat left;
    background-size: 25px;
    background-position: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
.area-form input:hover {
    box-shadow: 0 0 5px #000;
}
.area-form input:focus {
    box-shadow: 0 0 5px #000;
}

.btn-buscar {
    background: none;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 400;
}

nav a:hover {
    background-color: #fff;
    color: #3572EF;
}

.anuncio {
    border: 2px solid #0000ff;
    border-radius: 5px;
}
.anuncio:hover {
    background-color: #050C9C;
    color: #6b70cc;
}

.cadastro-cv {
    border: 1px solid #c13535;
    background-color: #e91e63;
    border-radius: 5px;
}
.cadastro-cv:hover {
    background-color: #C80036;
    color: #ff9bb6;
}

#btn-area {
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.botao-menu {
    border: none;
    cursor: pointer;
    color: white;
    width: 100px;
    background: url(/imagens/material-symbols-light--menu.png) no-repeat right;
    background-size: 30px;
    text-indent: -20px;
}

.menu {
    display: none;
    width: 200px;
    background-color: #444;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    box-shadow: 0 0 8px #000;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    display: block;
    position: relative;
    left: 5px;
}

.menu li {
    margin: 0.5rem 0;
}

.menu li a {
    text-align: center;
    display: block;
    width: 160px;
}
/* Fim cabeçalho */

#img-anuncio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    position: relative;
    background: url(/imagens/jpeg-optimizer_business-people-hand-shake.jpg);
    background-size: cover;
}

#img-anuncio::before {
    content: "";
    background-image: url(/imagens/jpeg-optimizer_business-people-hand-shake.jpg);
    position: absolute;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(18, 29, 78, 0.7);
}

.area-anuncio {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    text-align: center;
}

.area-anuncio h1 {
    position: relative;
    font-size: 3.1em;
    font-weight: 400;
    color: #fff;
}

.btn-anuncio {
    background-color: #e91e63;
    border: none;
    color: #fff;
    margin-top: 50px;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.8em 2.8em;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in;
}
.btn-anuncio:hover {
    background-color: #a80e41;
}

.destaque {
    text-decoration: underline;
    font-weight: bold;
}

#informacao-anuncio {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
}

.usuario-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 75%;
    font-size: 1.3em;
}

.usuario img {
    width: 100px;
    height: 70px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}