* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
}

h1 {
    font-size: 1.7em;
    text-align: left;
}

/* Inicio cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3572EF;
    color: #fff;
    padding: 10px;
}

a {
    text-decoration: none;
}

header h1 {
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 55px;
    height: 50px;
}

h1, h4 {
    margin: 0;
}

#logo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cinza {
    color: #2d2d2d;
}
/* Fim cabeçalho */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#register {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin-top: 10px;
    text-align: left;
    box-shadow: 0 0 5px #cacaca;
}

.area-form {
    width: 100%;
}

.area-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: -5px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    margin-top: 30px;
    margin-bottom: -30px;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cadastrar {
    background-color: #3096f4;
}

.cancelar {
    background-color: #e74444;
    border-radius: 500px;
}

#cadastro {
    text-align: center;
    margin-top: 80px;
    font-size: 1.1em;
}

p a {
    text-decoration: none;
    color: #3e81d8;
}